<a href="https://colab.research.google.com/github/yeshwin1810/21CSS101J-colaboratory/blob/main/RA2211042010009_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("RA2211042010009")

RA2211042010009

In [ ]:
a = 12
b = 18
print(a+b)

30

In [ ]:
a = 'arjun'
print(a*2)

arjunarjun

In [ ]:
var = 1
var+=3
print(var)

4

In [ ]:
a=1000
b=a
print(b)
print(a)

1000
1000

In [ ]:
x=18
y='kohli'
print(y)
print(x)

kohli
18

In [ ]:
x=7
print(type(x))

<class 'int'>

In [ ]:
y=0.7
print(type(y))

<class 'float'>

In [ ]:
z=7j
print(type(z))

<class 'complex'>

In [ ]:
x=int(3)
print(x)

3

In [ ]:
y=int(999.324)
print(y)

999

In [ ]:
z=int('34')
print(z)

34

In [ ]:
list=['apple','mango']
print(list)

['apple', 'mango']

In [ ]:
list=['apple','mango']
list.append('banana')
print(list)

['apple', 'mango', 'banana']

In [ ]:
tuple = ("apple", "banana", "cherry")
print(tuple[1])

banana

In [ ]:
tuple = ("apple", "banana", "cherry")
tuple.index('apple')

0

In [ ]:
x= {"apple", "banana", "cherry"}
x.remove("banana")
print(thisset)

{'cherry', 'apple'}

In [ ]:
f={"apple", "banana", "cherry"}
f.clear()
print(f)

set()

In [ ]:
dict =	{"name": "Virat","role": "Batsman","centuries": 71}
print(dict)

{'name': 'Virat', 'role': 'Batsman', 'centuries': 71}

In [ ]:
a = 33
b = 200
if b > a:
  print("b is greater than a")

b is greater than a

In [ ]:
a = 33
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")

a and b are equal

In [ ]:
a = 200
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")
else:
  print("a is greater than b")

a is greater than b

In [ ]:
i=1
while i<10:
  print(i)
  i+=1

1
2
3
4
5
6
7
8
9

In [ ]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)

apple
banana
cherry

In [ ]:
i = 1
while i < 6:
  print(i)
  if (i == 3):
    break
  i += 1

1
2
3

In [ ]:
for x in "banana":
  print(x)

b
a
n
a
n
a

In [ ]:
x=input("enter your name : ")
print(x*3)

enter your name : yeshwin
yeshwinyeshwinyeshwin

In [ ]:
num1=10
num2=90.0
sum=num1+num2
print(sum)
print(type(sum))

100.0
<class 'float'>

In [ ]:
s = 6
Area = s*s
print("Area of the square="+str(Area))

Area of the square=36

In [ ]:
x=input("enter your name : ")
for i in x:
  print(i)

enter your name : yeshwin
y
e
s
h
w
i
n